					</div>
				</div>
			</div>
			<div id="footerbar">
				<? INC FooterTag.tmpl ?>
			</div>
			<hr /><h5 class="text-center text-muted"><? VAR Tag ESC=ASCII ?>.
		<? INC LowerBanner.tmpl ?>
	</body>
</html>
